p Andreas Klein is a frontend-developer working at <a href="http://nexum.de">nexum</a> in Cologne, Germany, specializing in JavaScript-Development. He spends most of his time writing articles about interaction development on his personal blog. <br>Outside of the web, he is proudly father of two beautiful childs, a passionated freestyle skateboarder and he likes the taste of italian espresso.
