p Andreas Klein is a frontend-developer working <a href="https://twitter.com/nexum">@nexum</a> in Cologne, Germany, specializing in JavaScript-Development.<br>He is keen on writing articles about interaction development on his personal blog. Outside of the web, he is a proud father of two beautiful children, a passionate freestyle skateboarder and he likes the taste of italian espresso.
