header#hed
  a(id="face", href="/", title="Andreas Klein")
    img(src="//gravatar.com/avatar/0900248218c7d65450db919ec8c01109?s=220")
  h1(title="Frontend developers Blog by Andreas Klein") Andreas Klein
  h2.sub Frontend-Developer
  p.socials
    a.ico-twitter.icon(href="http://twitter.com/ixisio")
    a.ico-github.icon(href="http://github.com/ixisio")
    a.ico-mail.icon(href="mailto:mail[at]andreasklein[dot]org")
