header#hed
  a(id="face", href="/", title="View Startpage")
    - if(device.type === 'phone')
      img(src="/gfx/avatar-100x100.jpg")
    else
      img(src="/gfx/avatar-175x175.jpg")
  h1 Andreas Klein
  h2.sub Frontend Developer & Consultant
  p.socials
    a.icon-twitter(href="http://twitter.com/ixisio", title="Follow me on Twitter")
    a.icon-github(href="http://github.com/ixisio", title="Fork me on Github")
    a.icon-xing(href="https://www.xing.com/profile/Andreas_Klein156", title="Contact me on Xing")
    a.icon-mail(href="mailto:mail[at]andreasklein[dot]org", title="Send me an Email")
