p — Styling and Grid &#10004, realized with <a href="http://compass-style.org/">Compass</a> and <a href="http://susy.oddbird.net/">Susy</a>
  span.date 04 April 2013

p — <b>Decision:</b> I will use a serverside javascript enviroment (<b>Node.js</b> & <a href="http://expressjs.com/">express</a>) to create this blog logic. I want write my articles in <b>Markdown</b>! I found this: <a href="http://jsantell.github.com/poet/">Poet</a>, looks interesting to me.
  span.date 31 March 2013

p — <b>Ahoi.</b> I work on a Redesign of my blog.
  span.date 23 March 2013
