
div.group.text-image-block
  div.image
    img(src="gfx/poet.png")
  div.txt
    p — I've checked out <a href="http://jsantell.github.io/poet/"><i>Poet -- node.js blogging platform</i></a> and it seems that it meets my requirements.

    ul
      li
        p It's well <a href="http://jsantell.github.io/poet/">documentated</a>.
      li
        p It supports Markdown, Yeah ;-)
      li
        p The Source-Code looks very tidy and clean. There are few tests available. Used testing framework is <a href="http://chaijs.com/">chai</a>. This is not my fav, but anyway.
      li
        p The projects repository on <a href="https://github.com/jsantell/poet" class="icon-github icon"></a> is up to date.
    p I will give it a try!
      span.date 10 April 2013


p — This Website is now running in maintenance mode. Powered by <a href="http://nodejs.org/">Node.js</a> and hosted on <a href="https://www.heroku.com/">heroku</a>. The source code is available on <a href="http://github.com/ixisio/andreasklein_org" class="icon-github icon">github</a>. Run <code> npm install</code> and then <code>grunt server</code> to check it out on your local machine. Requires Node and <a href="http://gruntjs.com/">Grunt.js</a>.
  span.date 05 April 2013, 8:45 pm

p — Styling and Grid &#10004;, realized with <a href="http://compass-style.org/">Compass</a> and <a href="http://susy.oddbird.net/">Susy</a>
  span.date 05 April 2013

p — Today I start wrinting the first code of this blog with a mobile first approach. I highly recommend the following articles about mobile first development.
  ul
    li
      a(href="http://www.lukew.com/resources/mobile_first.asp") Mobile First, Luke Wroblewski
    li
      a(href="http://bradfrostweb.com/blog/mobile/the-many-faces-of-mobile-first/") The Many Faces of ‘Mobile First’, Brad Frost
    li
      a(href="http://jonykrau.se/posts/mobile-first-javascript") Mobile first JavaScript, Jonathan Krause
    li
      a(href="http://bradfrostweb.com/blog/mobile/anatomy-of-a-mobile-first-responsive-web-design/") Anatomy of a Mobile-First Responsive Web Design, Brad Frost
  span.date 04 April 2013

p — <b>Decision:</b> I will use a serverside javascript enviroment (<b>Node.js</b> & <a href="http://expressjs.com/">express</a>) to create this blog logic. I want write my articles in <b>Markdown</b>! I found this: <a href="http://jsantell.github.com/poet/">Poet</a>, looks interesting to me.
  span.date 31 March 2013

p — <b>Ahoi.</b> I work on a Redesign of my blog.
  span.date 23 March 2013
