/* line 18, scss/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 27, scss/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 36, scss/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 43, scss/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 49, scss/_reset.scss */
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 54, scss/_reset.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 62, scss/_reset.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 68, scss/_reset.scss */
sup {
  top: -0.5em;
}

/* line 71, scss/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 78, scss/_reset.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 93, scss/_reset.scss */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

/* line 99, scss/_reset.scss */
button,
input {
  *overflow: visible;
  line-height: normal;
}

/* line 104, scss/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 111, scss/_reset.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 115, scss/_reset.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 122, scss/_reset.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 125, scss/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 7, scss/_layout.scss */
body {
  margin: 0;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 100;
  color: #444444;
  background-color: white;
}

/* line 17, scss/_layout.scss */
#container {
  *zoom: 1;
  max-width: 45em;
  _width: 45em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow-x: hidden;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 28, scss/_layout.scss */
#hed {
  width: 100%;
  text-align: center;
  padding-top: 1em;
}
/* line 33, scss/_layout.scss */
#hed h1 {
  font-size: 20px;
  margin-bottom: 0;
}
/* line 34, scss/_layout.scss */
#hed h2.sub {
  margin-top: 0px;
  margin-bottom: 15px;
}
/* line 35, scss/_layout.scss */
#hed .socials {
  font-size: 16px;
}
/* line 37, scss/_layout.scss */
#hed .socials a {
  padding-right: 15px;
  color: #ccc;
}

/* line 44, scss/_layout.scss */
#face {
  text-align: center;
}
/* line 46, scss/_layout.scss */
#face img {
  width: 100px;
  height: 100px;
}

/* line 54, scss/_layout.scss */
.type-article #hed {
  padding-top: 2em;
}
/* line 58, scss/_layout.scss */
.type-article .post-meta {
  border-top: 1px solid #eeeeee;
}

/* line 65, scss/_layout.scss */
#main {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5em;
  display: inline;
  padding-bottom: 2em;
}
/* line 69, scss/_layout.scss */
#main .posts {
  list-style-type: none;
  margin-left: 0;
}
/* line 73, scss/_layout.scss */
#main .posts > li {
  margin: 0 0 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
/* line 80, scss/_layout.scss */
#main .posts .readmore a {
  text-decoration: none;
}
/* line 86, scss/_layout.scss */
#main .post-title {
  display: block;
  color: #444444;
  text-decoration: none;
}
/* line 96, scss/_layout.scss */
#main .post-meta {
  font-size: 0.675em;
}
/* line 99, scss/_layout.scss */
#main .post-meta .tags ul {
  display: inline;
  margin: 0;
}
/* line 104, scss/_layout.scss */
#main .post-meta .tags li {
  display: inline;
}
/* line 107, scss/_layout.scss */
#main .post-meta .tags li a {
  font-weight: bold;
  padding-left: 0.35em;
}
/* line 112, scss/_layout.scss */
#main .post-meta .post-date, #main .post-meta .tags .label {
  color: #555555;
}

/* line 120, scss/_layout.scss */
#foot {
  width: 100%;
  padding-top: 5em;
  text-align: center;
  color: #999999;
  font-size: 0.875em;
}
/* line 127, scss/_layout.scss */
#foot a {
  color: #999999;
}

/* line 9, scss/_basics.scss */
p {
  margin: 0 0 13px;
}

/* line 12, scss/_basics.scss */
.lead {
  margin-bottom: 26px;
  font-size: 20px;
  font-weight: 200;
  line-height: 39px;
}

/* line 23, scss/_basics.scss */
small {
  font-size: 85%;
}

/* line 26, scss/_basics.scss */
strong {
  font-weight: bold;
}

/* line 29, scss/_basics.scss */
em {
  font-style: italic;
}

/* line 32, scss/_basics.scss */
cite {
  font-style: normal;
}

/* line 35, scss/_basics.scss */
.muted {
  color: #999999;
}

/* line 43, scss/_basics.scss */
h1, h2, h3, h4, #main .post-preview .post-title, h5, h6, h2.sub {
  margin: 26px 0 13px 0;
  font-family: inherit;
  font-weight: 400;
  line-height: 1em;
  color: #444444;
  text-rendering: optimizelegibility;
}
/* line 51, scss/_basics.scss */
h1 small, h2 small, h3 small, h4 small, #main .post-preview .post-title small, h5 small, h6 small, h2.sub small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
/* line 56, scss/_basics.scss */
h1 a, h2 a, h3 a, h4 a, #main .post-preview .post-title a, h5 a, h6 a, h2.sub a {
  color: #444444;
}

/* line 60, scss/_basics.scss */
h1 {
  font-size: 1.875em;
  line-height: 1.275em;
}

/* line 61, scss/_basics.scss */
h2 {
  font-size: 1.5em;
  line-height: 1.2em;
}

/* line 62, scss/_basics.scss */
h3 {
  font-size: 1.125em;
  line-height: 1.1em;
}

/* line 63, scss/_basics.scss */
h4, #main .post-preview .post-title {
  font-size: 1em;
  line-height: 1.25em;
}

/* line 64, scss/_basics.scss */
h5 {
  font-size: .875em;
  line-height: 1.25em;
}

/* line 65, scss/_basics.scss */
h6, h2.sub {
  font-size: .75em;
  line-height: 1.25em;
}

/* line 67, scss/_basics.scss */
.hero {
  font-size: 6em;
  line-height: 1em;
}

/* line 71, scss/_basics.scss */
.fat {
  font-size: 2.4em;
  line-height: 1em;
}

/* line 75, scss/_basics.scss */
h2.sub {
  color: #999999;
  font-weight: 100;
}

/* line 80, scss/_basics.scss */
.content h2, .content h3 {
  margin-top: 50px;
}

/* line 83, scss/_basics.scss */
.content h2 + h3 {
  margin-top: 26px;
}

/* line 90, scss/_basics.scss */
a {
  color: inherit;
  text-decoration: underline;
  font-weight: 100;
}

/* line 95, scss/_basics.scss */
a.icon {
  text-decoration: none;
}

/* line 104, scss/_basics.scss */
ul, ol {
  padding: 0;
  margin: 0 0 13px 25px;
}

/* line 111, scss/_basics.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/* line 114, scss/_basics.scss */
li {
  line-height: 26px;
  margin-bottom: 5px;
}

/* line 119, scss/_basics.scss */
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

/* line 129, scss/_basics.scss */
.content figure {
  margin-left: -15%;
  width: 130%;
  margin-bottom: 1.875em;
}
/* line 134, scss/_basics.scss */
.content figure img {
  margin-bottom: 5px;
}
/* line 139, scss/_basics.scss */
.content figcaption {
  color: #555555;
  font-size: 0.875em;
  padding: 0 15%;
  text-align: center;
}

/* line 153, scss/_basics.scss */
hr {
  margin: 26px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid white;
}

/* line 161, scss/_basics.scss */
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

/* line 165, scss/_basics.scss */
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

/* line 171, scss/_basics.scss */
blockquote {
  padding: 0 0 0 15px;
  margin: 30px 0;
  border-left: 5px solid #eeeeee;
}
/* line 175, scss/_basics.scss */
blockquote p {
  opacity: 0.6;
  margin-bottom: 0;
  -webkit-transition: opacity 440ms ease-in-out;
  -moz-transition: opacity 440ms ease-in-out;
  -o-transition: opacity 440ms ease-in-out;
  transition: opacity 440ms ease-in-out;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
/* line 181, scss/_basics.scss */
blockquote small {
  display: block;
  line-height: 26px;
  color: #999999;
}
/* line 185, scss/_basics.scss */
blockquote small:before {
  content: '\2014 \00A0';
}
/* line 191, scss/_basics.scss */
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
/* line 198, scss/_basics.scss */
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
/* line 202, scss/_basics.scss */
blockquote.pull-right small:before {
  content: '';
}
/* line 205, scss/_basics.scss */
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}

/* line 216, scss/_basics.scss */
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

/* line 221, scss/_basics.scss */
address {
  display: block;
  margin-bottom: 26px;
  font-style: normal;
  line-height: 26px;
}

/* line 229, scss/_basics.scss */
::-moz-selection {
  background: #222222;
  color: #eeeeee;
  text-shadow: none;
}

/* line 230, scss/_basics.scss */
::selection {
  background: #222222;
  color: #eeeeee;
  text-shadow: none;
}

@font-face {
  font-family: 'icon-font';
  src: url('/styles/fonts/icon-font.eot');
  src: url('/styles/fonts/icon-font.woff') format("woff"), url('/styles/fonts/icon-font.eot?#iefix') format("embedded-opentype"), url('/styles/fonts/icon-font.svg#icon-font') format("svg"), url('/styles/fonts/icon-font.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 12, scss/_icons.scss */
[class^="ico-"]:before, [class*=" ico-"]:before {
  font-family: 'icon-font';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

/* line 20, scss/_icons.scss */
.ico-home:before {
  content: "\39";
}

/* line 24, scss/_icons.scss */
.ico-logo:before {
  content: "\38";
}

/* line 28, scss/_icons.scss */
.ico-pencil:before {
  content: "\27";
}

/* line 32, scss/_icons.scss */
.ico-picture:before {
  content: "\2a";
}

/* line 36, scss/_icons.scss */
.ico-date:before {
  content: "\2b";
}

/* line 40, scss/_icons.scss */
.ico-search:before {
  content: "\22";
}

/* line 44, scss/_icons.scss */
.ico-screen:before {
  content: "\23";
}

/* line 48, scss/_icons.scss */
.ico-laptop:before {
  content: "\24";
}

/* line 52, scss/_icons.scss */
.ico-mobile:before {
  content: "\25";
}

/* line 56, scss/_icons.scss */
.ico-tablet:before {
  content: "\26";
}

/* line 60, scss/_icons.scss */
.ico-mobile-2:before {
  content: "\28";
}

/* line 64, scss/_icons.scss */
.ico-paper:before {
  content: "\29";
}

/* line 68, scss/_icons.scss */
.ico-copy:before {
  content: "\2b";
}

/* line 72, scss/_icons.scss */
.ico-coffee:before {
  content: "\2c";
}

/* line 76, scss/_icons.scss */
.ico-twitter:before {
  content: "\2d";
}

/* line 80, scss/_icons.scss */
.ico-github:before {
  content: "\2e";
}

/* line 84, scss/_icons.scss */
.ico-html5:before {
  content: "\2f";
}

/* line 88, scss/_icons.scss */
.ico-css3:before {
  content: "\30";
}

/* line 92, scss/_icons.scss */
.ico-facebook:before {
  content: "\31";
}

/* line 96, scss/_icons.scss */
.ico-apple:before {
  content: "\32";
}

/* line 100, scss/_icons.scss */
.ico-file-css:before {
  content: "\33";
}

/* line 104, scss/_icons.scss */
.ico-file-xml:before {
  content: "\34";
}

/* line 108, scss/_icons.scss */
.ico-mail:before {
  content: "\35";
}

/* line 112, scss/_icons.scss */
.ico-folder:before, .ico-tags:before {
  content: "\36";
}

/* line 116, scss/_icons.scss */
.ico-wordpress:before {
  content: "\37";
}

/* line 120, scss/_icons.scss */
.ico-share:before {
  content: "\3a";
}

/* line 124, scss/_icons.scss */
.ico-user:before {
  content: "\3b";
}

/* line 128, scss/_icons.scss */
.ico-comments:before {
  content: "\3c";
}

/* line 132, scss/_icons.scss */
.ico-icomoon:before {
  content: "\21";
}

/* line 1, scss/_prettify.scss */
pre {
  color: #fffdeb;
  background-color: #2c3033;
  border-radius: 4px;
  padding: 10px;
  font-size: 0.8em;
  line-height: 1em;
}
/* line 9, scss/_prettify.scss */
pre .pln {
  color: #fffdeb;
}
/* line 10, scss/_prettify.scss */
pre .str {
  color: #aaee22;
}
/* line 11, scss/_prettify.scss */
pre .kwd {
  color: #ff0077;
}
/* line 12, scss/_prettify.scss */
pre .com {
  color: #727879;
}
/* line 13, scss/_prettify.scss */
pre .typ {
  color: #fff;
}
/* line 14, scss/_prettify.scss */
pre .lit {
  color: #ffb412;
}
/* line 15, scss/_prettify.scss */
pre .pun, pre .opn, pre .clo {
  color: #04dbe5;
}
/* line 16, scss/_prettify.scss */
pre .tag {
  color: #04dbe5;
}
/* line 17, scss/_prettify.scss */
pre .atn {
  color: #606;
}
/* line 18, scss/_prettify.scss */
pre .atv {
  color: #080;
}
/* line 19, scss/_prettify.scss */
pre .dec, pre .var {
  color: red;
}
/* line 20, scss/_prettify.scss */
pre .fun {
  color: red;
}

@media (min-width: 48em) {
  /* line 17, scss/_breakpoints.scss */
  body {
    font-size: 20px;
    line-height: 32px;
  }

  /* line 24, scss/_breakpoints.scss */
  p {
    margin: 0 0 13px;
  }

  /* line 28, scss/_breakpoints.scss */
  h1 {
    font-size: 2.25em;
    line-height: 1.2em;
  }

  /* line 29, scss/_breakpoints.scss */
  h2 {
    font-size: 1.875em;
    line-height: 1.6em;
  }

  /* line 30, scss/_breakpoints.scss */
  h3 {
    font-size: 1.5em;
    line-height: 1em;
  }

  /* line 31, scss/_breakpoints.scss */
  h4, #main .post-preview .post-title {
    font-size: 1.125em;
    line-height: 1em;
  }

  /* line 34, scss/_breakpoints.scss */
  #main h1, #main > h2 {
    margin: 40px -30px 30px -30px;
    padding: 15px 30px 15px 23px;
    border-left: 7px solid #eee;
  }
  /* line 40, scss/_breakpoints.scss */
  #main .hero, #main .fat {
    margin: 0;
    padding: 10px 0;
    border: none;
  }

  /* line 49, scss/_breakpoints.scss */
  #container {
    max-width: 57em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #container:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 53, scss/_breakpoints.scss */
  #foot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: auto;
    text-align: left;
    padding: 0 0 .5em 1em;
    font-size: 0.625em;
    line-height: 20px;
    width: 14.47368%;
    float: right;
    margin-right: 0;
  }
  /* line 64, scss/_breakpoints.scss */
  #foot p {
    margin: 0;
  }

  /* line 69, scss/_breakpoints.scss */
  .type-overview #container {
    margin-top: 5em;
  }
  /* line 73, scss/_breakpoints.scss */
  .type-overview #hed {
    margin-top: 4em;
    padding: 0;
    width: 31.57895%;
    float: left;
    margin-right: 2.63158%;
  }
  /* line 77, scss/_breakpoints.scss */
  .type-overview #hed #face img {
    width: 175px;
    height: 175px;
  }
  /* line 78, scss/_breakpoints.scss */
  .type-overview #hed h2.sub {
    font-size: 0.6em;
  }
  /* line 82, scss/_breakpoints.scss */
  .type-overview #main {
    width: 65.78947%;
    float: right;
    margin-right: 0;
  }

  /* line 88, scss/_breakpoints.scss */
  .type-article #hed {
    text-align: left;
    width: 31.57895%;
    float: right;
    margin-right: 0;
    padding-right: 68.42105%;
  }
  /* line 94, scss/_breakpoints.scss */
  .type-article #hed .socials {
    margin-top: 7px;
  }
  /* line 98, scss/_breakpoints.scss */
  .type-article #hed #face {
    float: left;
    padding-right: 10px;
  }
  /* line 101, scss/_breakpoints.scss */
  .type-article #hed #face img {
    width: 45px;
    height: 45px;
  }
  /* line 103, scss/_breakpoints.scss */
  .type-article #hed h1 {
    font-size: 18px;
    margin-top: 10px;
  }
  /* line 104, scss/_breakpoints.scss */
  .type-article #hed h2.sub {
    font-size: 0.6em;
  }
  /* line 108, scss/_breakpoints.scss */
  .type-article #hed h1, .type-article #hed h2 {
    float: left;
    width: 100%;
  }
  /* line 111, scss/_breakpoints.scss */
  .type-article #main {
    width: 65.78947%;
    float: right;
    margin-right: 0;
    padding-left: 17.10526%;
    padding-right: 17.10526%;
  }

  /* line 121, scss/_breakpoints.scss */
  .content figure {
    max-width: 100%;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    margin-top: 26px;
    margin-bottom: 26px !important;
    padding: 26px 0 13px 0;
  }
  /* line 132, scss/_breakpoints.scss */
  .content figure img {
    margin-bottom: 13px;
  }
  /* line 136, scss/_breakpoints.scss */
  .content figure.pull-left {
    margin-left: -14.47368%;
  }
  /* line 140, scss/_breakpoints.scss */
  .content figure.pull-right {
    margin-right: -14.47368%;
  }
  /* line 145, scss/_breakpoints.scss */
  .content figcaption {
    text-align: left;
    padding: 0;
  }

  /* line 151, scss/_breakpoints.scss */
  .text-image-block {
    margin-bottom: 30px;
  }
  /* line 153, scss/_breakpoints.scss */
  .text-image-block figure {
    width: 32.17391%;
    float: right;
    margin-right: 0;
  }
}
@media (max-width: 48em) {
  /* line 173, scss/_breakpoints.scss */
  #main .text-image-block .image {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1em;
  }
}
/* line 7, scss/_non-touch.scss */
.non-touch a:hover {
  text-decoration: none;
}
/* line 8, scss/_non-touch.scss */
.non-touch blockquote:hover p {
  opacity: 1;
}
/* line 9, scss/_non-touch.scss */
.non-touch #hed .socials a:hover {
  color: #e9633b;
}
/* line 12, scss/_non-touch.scss */
.non-touch #main .readmore a:hover,
.non-touch #main .post-title:hover {
  text-decoration: underline;
}
/* line 17, scss/_non-touch.scss */
.non-touch #hed .socials a {
  padding-right: 5px;
}

/* line 6, scss/_utilities.scss */
.date {
  font-size: 14px;
  color: #999999;
  padding-left: 5px;
}

/* line 13, scss/_utilities.scss */
.pull-right {
  float: right;
}

/* line 16, scss/_utilities.scss */
.pull-left {
  float: left;
}

/* line 21, scss/_utilities.scss */
.hide {
  display: none;
}

/* line 24, scss/_utilities.scss */
.show {
  display: block;
}

/* line 28, scss/_utilities.scss */
.space {
  display: block;
  width: 100%;
  line-height: 26px;
}

/* line 35, scss/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 40, scss/_utilities.scss */
.affix {
  position: fixed;
}

/* line 45, scss/_utilities.scss */
.clearfix, .group, #main .posts > li {
  overflow: hidden;
  *zoom: 1;
}

/* line 50, scss/_utilities.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 55, scss/_utilities.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 67, scss/_utilities.scss */
.img-circle, #face img {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
