!!! 5
html(lang="en", class="type-article")
  head
    include includes/head
  body
    #container
      header#hed
        a(id="face", href="/", title="Andreas Klein")
          img(src="https://secure.gravatar.com/avatar/0900248218c7d65450db919ec8c01109?s=45&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-45.png")
        h1(title="Frontend developers Blog by Andreas Klein") Andreas Klein
        h2.sub Frontend-Developer
        p.socials
          a.ico-twitter.icon(href="http://twitter.com/ixisio")
          a.ico-github.icon(href="http://github.com/ixisio")
          a.ico-mail.icon(href="mailto:mail[at]andreasklein[dot]org")

      #main(role="main")
        block content

      footer(id="foot")
        p &copy; 2013 Andreas Klein, <a href="/imprint">Imprint</a>

    script
      var _gaq=[['_setAccount','UA-33471444-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src='/scripts/v7.js')
