extends layout

block content
  - var posts = getPosts(0,5)
  - var page  = 1
  if posts.length >= 1
    h2.icon-quill.icon
      span Publications
    ul.posts
      each post in posts
        include includes/postSnippet
  else
    h2 Maintenance Log
    include includes/maintenance

  h2.icon-profile.icon
    span About this Guy
  include includes/bio

  include includes/pagination
