doctype html
html(lang="en", class="#{typeof post !== 'undefined' ? 'type-article' : 'type-overview'}")

  head
    include includes/head
  body
    .container
      include includes/header

      main.main__container(role="main")
        block content

      include includes/footer

    include includes/scripts
