<!-- ----------------------------------------------  -->
<!-- Dear Sourcecode Readers,                        -->
<!--                                                 -->
<!-- This webpage is generated with Poet.js          -->
<!-- and powered by Node.js                          -->
<!-- by @ixisio on twitter and github.               -->
<!--                                                 -->
<!-- Cheers andy                                     -->
<!-- ----------------------------------------------  -->

!!! 5
html(lang="en", class="#{typeof post !== 'undefined' ? 'type-article' : 'type-overview'}")

  head
    include includes/head
  body(onload="prettyPrint()")
    #container
      include includes/header

      #main(role="main")
        block content

      include includes/footer

    include includes/scripts
