extends layout

block content
  h1 About Me

  p
    | Andreas Klein is a <a href="https://www.xing.com/profile/Andreas_Klein156">freelance</a> Front-End Developer and Consultant working in Cologne / Germany, specializing in Javascript and Web-Performance.<br>
    | He is keen on writing articles about Front-End stuff and <a href="http://nodejs.org">Node.js</a> on his personal blog and likes to push the <a href="https://github.com/ixisio">open-source</a> community forward.
    | Outside of the web, he is a proud father of two beautiful children, a passionate freestyle skateboarder/snowboarder and he likes the taste of <a href="http://www.yelp.de/biz/formula-uno-k%C3%B6ln">italian espresso</a>.

  a.icon.icon-home(href="/")&nbsp;Startpage
