//
// Grid system
// --------------------------------------------------

@import "susy";


// Breakpoint for Desktop/Tablet Devices > 768px
@include at-breakpoint($breakpoint-1 $total-columns) {
    @include with-grid-settings(
            $total-columns,
            $column-width-tablet,
            $gutter-width,
            $grid-padding
    ) {

        body {
          font-size: $baseFontSize-desktop;
          line-height: $baseLineHeight-desktop;
        }

        // TYPE
        // -------------------
        p {
          margin: 0 0 $baseLineHeight / 2;
        }

        h1 { font-size: 2.25em; line-height: 1.2em; }
        h2 { font-size: 1.875em; line-height: 1.2em; }
        h3 { font-size: 1.5em; line-height: 1.2em; }
        h4 { font-size: 1.125em; line-height: 1.2em; }

        #main {
          h1, > h2 {
            margin: 40px -30px 30px -30px;
            padding: 15px 30px 15px 23px;
            border-left: 7px solid #eee;
          }

          .hero, .fat {
            margin: 0;
            padding: 10px 0;
            border: none;
          }
        }

        // LAYOUT
        // -------------------
        #container {
          @include container;
        }

        #foot {
          position: fixed;
          bottom:0;
          left: 0;
          width: auto;
          text-align: left;
          padding: 0 0 .5em 1em;
          font-size: 0.625em;
          line-height: 20px;
          @include span-columns(1 omega, $total-columns);

          p { margin: 0; }
        }

        .type-overview {

          #container {
            margin-top: 5em;
          }

          #hed {
            margin-top: 4em;
            padding: 0;
            @include span-columns(2, $total-columns);
            #face img { width: 175px; height: 175px; }
            h2.sub {
              font-size: 0.6em;
            }
          }
          #main {
            @include span-columns(4 omega, $total-columns);
          }
        }

        .type-article {
          #hed {

            text-align: left;
            @include span-columns(2 omega, $total-columns);
            @include suffix(4);

            .socials {
              margin-top: 7px;
            }

            #face {
              float: left;
              padding-right: 10px;
              img { width: 45px; height: 45px; }
            }
            h1 { font-size: 18px; margin-top: 10px; }
            h2.sub {
              font-size: 0.6em;
            }

            h1, h2 { float: left; width: 100%; }
          }

          #main {
            @include span-columns(4 omega, $total-columns);
            @include pad(1,1);
          }
        }

        // LAYOUT HELPERS
        // -------------------
        .content {

          figure {

            max-width: 100%;

            border-top: 1px solid $hrBorder;
            border-bottom: 1px solid $hrBorder;

            margin-top: $baseLineHeight;
            margin-bottom: $baseLineHeight !important;
            padding: $baseLineHeight 0 ($baseLineHeight/2) 0;

            img {
              margin-bottom: ($baseLineHeight/2);
            }

            &.pull-left {
              margin-left: -14.47368%;
            }

            &.pull-right {
              margin-right: -14.47368%;
            }
          }

          figcaption {
            text-align: left;
            padding: 0;
          }

        }
        .text-image-block {
          margin-bottom: 30px;
          figure {
            @include span-columns(3 omega, 9);
          }
        }
    }
}

// Breakpoint for only mobile Screen < 768px
@include at-breakpoint($total-columns $breakpoint-1) {
    @include with-grid-settings(
            $total-columns,
            $column-width-tablet,
            $gutter-width,
            $grid-padding
    ) {

      #main {
        // LAYOUT HELPERS
        // -------------------
        .text-image-block {
          .image {
            width: 50%;
            margin: 0 auto;
            margin-bottom: 1em;
          }
        }
      }
    }
}
