@import "susy";

//
// Layouts Styles
// --------------------------------------------------

body {
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-weight: 100;
  color: $textColor;
  background-color: $bodyBackground;
}

#container {
    @include container;
    position: relative;

    // Phone frameless images
    overflow-x: hidden;
}

// Master Header
// --------------------------

#hed {
  width: 100%;
  text-align: center;
  padding-top: 1em;

  h1 { font-size: 20px; margin-bottom: 0;}
  h2.sub { margin-top: 0px; margin-bottom: 15px; }
  .socials {
    font-size: 16px;
    a {
      padding-right: 15px;
      color: #ccc;
    }
  }
}

#face {
    text-align: center;
    img {
      @extend .img-circle;
      width: 100px;
      height: 100px;
    }
}

.type-article {
  #hed {
    padding-top: 2em;
  }

  .post-meta {
    border-top: 1px solid $grayLighter;
  }
}

// Main Content Area
// --------------------------
#main {
    @include span-columns($total-columns omega, $total-columns);
    padding-bottom: 2em;

    .posts {
      list-style-type: none;
      margin-left: 0;

      > li {
        margin: 0 0 20px 0;
        padding-bottom: 10px;
        border-bottom: 1px solid $grayLighter;
        @extend .group;
      }

      .readmore a {
        text-decoration: none;
      }
    }

    // Posts Style
    .post-title {
        display: block;
        color: $grayDark;
        text-decoration: none;
    }
    .post-preview {
      .post-title {
        @extend h4;
      }
    }
    .post-meta {
      font-size: 0.675em;

      .tags ul {
        display: inline;
        margin: 0;
      }

      .tags li {
        display: inline;

        a {
          font-weight: bold;
          padding-left: 0.35em;
        }
      }
      .post-date, .tags .label {
        color: $gray;
      }
    }
}

// Master Footer
// --------------------------
#foot {
    width: 100%;
    padding-top: 5em;
    text-align: center;
    color: $grayLight;
    font-size: 0.875em;

    a { color: $grayLight;}
}
