@import "susy";

//
// Layouts Styles
// --------------------------------------------------

body {
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-weight: 100;
  color: $textColor;
  background-color: $bodyBackground;
}

#container {
    @include container;
    position: relative;
}

// Master Header
// --------------------------

#hed {
  width: 100%;
  text-align: center;
  padding-top: 1em;

  #face {
      text-align: center;
      opacity: 1;
      @include transition(opacity 0.4s ease-in);
      img { @extend .img-circle; width: 100px; height: 100px;}

      &:hover { opacity: 0.92; }
  }
  h1 { font-size: 20px; margin-bottom: 0;}
  h2.sub { margin-top: -8px; margin-bottom: 15px; }
  .socials {
    font-size: 16px;
    a {padding-right: 5px;}
  }
}

.type-article {
  #hed {
    padding-top: 2em;
  }
}

// Main Content Area
// --------------------------
#main {
    @include span-columns($total-columns omega, $total-columns);
    padding-bottom: 2em;

    .posts {
      list-style-type: none;
      margin-left: 0;

      > li {
        margin: 0 0 20px 0;
        border-bottom: 1px solid $grayLighter;
        cursor: pointer;
        @extend .group;

        &:hover {
          a {
            color: $linkColor;
          }
        }

        .post-title {
          display: block;
          color: $grayDark;
          @extend h4;
        }

        .post-meta {
          font-size: 0.675em;
        }


        .tags ul {
          display: inline;
          margin: 0;
        }

        .tags li {
          display: inline;

          a {
            font-weight: bold;
            padding-left: 0.35em;
          }
          a:hover {
            color: $linkColorHover;
          }
        }
        .post-date, .tags .label {
          color: $gray;
        }
      }
    }
}

// Master Footer
// --------------------------
#foot {
    width: 100%;
    padding-top: 5em;
    text-align: center;
    color: $grayLight;
    font-size: 0.875em;

    a { color: $grayLight;}
    a:hover { color: $color-orange;}
}
