// A Touch-First Approach

.non-touch {


  // Hover States
	a:hover { text-decoration: none; }
	blockquote:hover p { opacity: 1; }
	#face:hover { opacity: 0.92; }
	#hed .socials a:hover {color: $linkColorHover;}
  #main {
    .readmore a:hover,
    .post-title:hover {
      text-decoration: underline;
    }
  }

  #hed .socials a {
    padding-right: 5px;
  }
}
