//
// Scaffolding
// --------------------------------------------------

/**  Susy : http://susy.oddbird.net/ */
@import "susy";

// Body reset
// -------------------------

body {
  margin: 0;
  font-size: $baseFontSize;
  font-family: $baseFontFamily;
  line-height: $baseLineHeight;
  font-weight: 100;
  color: $textColor;
  background-color: $bodyBackground;
}


// Links
// -------------------------

