//
// Utility classes
// --------------------------------------------------


.date {
  font-size: 14px;
  color: $grayLight;
  padding-left: 5px;
}

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

.space {
	display: block;
	width: 100%;
	line-height: $baseLineHeight
}

// Visibility
.invisible {
  visibility: hidden;
}

// For Affix plugin
.affix {
  position: fixed;
}

// Clearing floats
.clearfix, .group {
  @include clearfix();
}

// Accessible yet invisible text
.hide-text {
  @include hide-text();
}

// Uses box-sizing mixin, so must be defined here
.input-block-level {
  @include input-block-level();
}

// Mixins
// ------------------
@mixin transition ($what: all, $duration: 0.5s, $timing: linear) {
  @each $prefix in $prefixes {
    #{$prefix}transition: $what $duration $timing;
  }
}

.img-circle {
  @include border-radius(500px);
}
