@media screen and (min-width: @breakpoint) {

    body {
        font-size: @baseFontSize-desktop;
        line-height: @baseLineHeight-desktop;
    }

    h1 { font-size: 2.25em; line-height: 1.2em; }
    h2 { font-size: 1.875em; line-height: 1.2em; }
    h3 { font-size: 1.5em; line-height: 1.2em; }
    h4 { font-size: 1.125em; line-height: 1.2em; }

    #main {
        h1, > h2 {
            margin: 40px -30px 30px -30px;
            padding: 15px 30px 15px 23px;
            border-left: 7px solid #eee;
        }

        .hero, .fat {
            margin: 0;
            padding: 10px 0;
            border: none;
        }
    }

    // LAYOUT
    // -------------------
    #container {
        max-width: 57em;
    }

    #foot {
        text-align: left;
        font-size: 0.625em;
        line-height: 20px;
    }

    .type-overview {

        #container {
            margin-top: 5em;
        }

        #hed {
          .column(2);

            h2.sub {
                font-size: 0.6em;
            }
        }
        #main {
            .column(4);
        }
    }

    .type-article {
        #hed {
            .column(2);
            .pull(4);

            text-align: left;

            h1, h2 {
                float: left;
                width: 100%;
            }

            h1 {
                font-size: 18px;
                margin-top: 10px;
            }

            h2.sub {
                font-size: 0.6em;
            }

            .socials {
                margin-top: 7px;
            }

            #face {
                float: left;
                padding-right: 10px;

                img {
                    width: 45px;
                    height: 45px;
                }
            }
        }

        #main {
            .column(4);
            .pull(1);
            .push(1);
        }
    }

    // LAYOUT HELPERS
    // -------------------
    .content {

        figure {

            max-width: 100%;
            border-top: 1px solid @hrBorder;
            border-bottom: 1px solid @hrBorder;
            margin-top: @baseLineHeight;
            margin-bottom: @baseLineHeight !important;
            padding: @baseLineHeight 0 (@baseLineHeight/2) 0;

            img {
                margin-bottom: (@baseLineHeight/2);
            }

            &.pull-left {
                margin-left: -14.47368%;
            }

            &.pull-right {
                margin-right: -14.47368%;
            }
        }

        figcaption {
            text-align: left;
            padding: 0;
        }

    }
}

