
// A Touch-First Approach
.non-touch {

    // Hover States
    a:hover {
        text-decoration: none;
    }

    blockquote:hover p {
        opacity: 1;
    }

    .footer .icon-feed,
    .header__socials a {
        &:hover {
            color: @linkColorHover;
        }
    }

    .header__socials a {
        padding-right: 1rem;
    }

    .main__container {
        .readmore a:hover {
            text-decoration: underline;
        }
    }
}
