@media screen and (min-width: 56em) {
  /* line 7, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  body {
    font-size: 20px;
    line-height: 32px;
  }
  /* line 13, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  h1 {
    font-size: 2.25em;
    line-height: 1.2em;
  }
  /* line 14, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  h2 {
    font-size: 1.875em;
    line-height: 1.2em;
  }
  /* line 15, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  h3 {
    font-size: 1.5em;
    line-height: 1.2em;
  }
  /* line 16, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  h4 {
    font-size: 1.125em;
    line-height: 1.2em;
  }
  /* line 19, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  #main h1,
  #main > h2 {
    margin: 40px -30px 30px -30px;
    padding: 15px 30px 15px 23px;
    border-left: 7px solid #eee;
  }
  /* line 25, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  #main .hero,
  #main .fat {
    margin: 0;
    padding: 10px 0;
    border: none;
  }
  /* line 34, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  #container {
    max-width: 57em;
  }
  /* line 38, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  #foot {
    text-align: left;
    font-size: 0.625em;
    line-height: 20px;
  }
  /* line 46, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .type-overview #container {
    margin-top: 5em;
  }
  /* line 50, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .type-overview #hed {
    display: inline;
    float: left;
    width: 30.10752688%;
    margin: 0 1.61290323%;
  }
  /* line 53, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .type-overview #hed h2.sub {
    font-size: 0.6em;
  }
  /* line 57, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .type-overview #main {
    display: inline;
    float: left;
    width: 63.44086022%;
    margin: 0 1.61290323%;
  }
  /* line 63, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .type-article #hed {
    text-align: left;
    display: inline;
    float: left;
    width: 30.10752688%;
    margin: 0 1.61290323%;
    margin-right: 68.27956989%;
  }
  /* line 69, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .type-article #hed .socials {
    margin-top: 7px;
  }
  /* line 73, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .type-article #hed #face {
    float: left;
    padding-right: 10px;
  }
  /* line 76, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .type-article #hed #face img {
    width: 45px;
    height: 45px;
  }
  /* line 78, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .type-article #hed h1 {
    font-size: 18px;
    margin-top: 10px;
  }
  /* line 79, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .type-article #hed h2.sub {
    font-size: 0.6em;
  }
  /* line 83, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .type-article #hed h1,
  .type-article #hed h2 {
    float: left;
    width: 100%;
  }
  /* line 86, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .type-article #main {
    display: inline;
    float: left;
    width: 63.44086022%;
    margin: 0 1.61290323%;
    margin-right: 18.27956989%;
    margin-left: 18.27956989%;
  }
  /* line 97, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .content figure {
    max-width: 100%;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    margin-top: 26px;
    margin-bottom: 26px !important;
    padding: 26px 0 13px 0;
  }
  /* line 108, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .content figure img {
    margin-bottom: 13px;
  }
  /* line 112, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .content figure.pull-left {
    margin-left: -14.47368%;
  }
  /* line 116, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .content figure.pull-right {
    margin-right: -14.47368%;
  }
  /* line 121, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .content figcaption {
    text-align: left;
    padding: 0;
  }
  /* line 127, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .text-image-block {
    margin-bottom: 30px;
  }
  /* line 129, /Users/andyk/Sites/priv/andreasklein.org/v7/andreasklein_org/www/styles/less/views/desktop.less */
  .text-image-block figure {
    display: inline;
    float: left;
    width: 31.1827957%;
    margin: 0 1.07526882%;
  }
}
