//
// Typography & Basic
// --------------------------------------------------


// Body text
// -------------------------

p {
  margin-bottom: .5rem;
}

// Emphasis & misc
// -------------------------

small {
  font-size: 85%; // Ex: 14px base font * 85% = about 12px
}
strong {
  font-weight: normal;
  font-size: 1.2rem;
}
em {
  font-style: italic;
}


// Headings
// -------------------------

h1, h2, h3, h4 {
  margin: 2.5rem 0 1rem;
  font-family: @headingsFontFamily;
  font-weight: @headingsFontWeight;
  line-height: 1em;
  color: @headingsColor;
  text-rendering: optimizelegibility;
  // text-transform: uppercase;
  small {
    font-weight: normal;
    line-height: 1;
    color: @grayLight;
  }
  a {
    color: @headingsColor;
  }
}
h1 { font-size: 1.875rem; line-height: 1.275; }
h2 { font-size: 1.5rem; line-height: 1.2; }
h3 { font-size: 1.125rem; line-height: 1.1; }
h4 { font-size: 1rem; line-height: 1.25; }

.hero {
  font-size: 6rem;
  line-height: 1;
}

.fat {
  font-size: 2.4rem;
  line-height: 1em;
}

h2.subheadline {
  color: @grayLight;
  font-weight: 100;
  &:extend(h6);
}

h2.icon:before {
  padding-right: 0.5em;
}

.content h2, .content h3 {
  margin-top: 2.5rem;
}

.content h2 + h3 {
  margin-top: 0;
}

// Links
// -------------------------

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: @grayLight;
  font-weight: 100;
}


// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 1rem 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  margin-bottom: 5px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}


// Figures
// -------------------------
.content {
  figure {
    margin-left: -15%; // ~
    width: 130%; // ~
    margin-bottom: 1.875em; // ~30px

    img {
      margin-bottom: 5px;
    }
  }

  figcaption {
    color: @gray;
    font-size: 0.875em; // 14px

    padding: 0 15%;
    text-align: center;
  }
}

// Horizontal rules
hr {
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid @hrBorder;
  border-bottom: 1px solid @white;
}

// Blockquotes
blockquote {
  padding: 0 0 0 1rem;
  margin: 2rem 0;
  border-left: 5px solid @grayLighter;

  p {
    opacity: 0.6;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 300;
  }

  small {
    display: block;
    color: @grayLight;

    &:before {
      content: '\2014 \00A0';
    }
  }

  // Float right with text-align: right
  &.pull-right {
    float: right;
    padding-right: 1rem;
    padding-left: 0;
    border-right: 5px solid @grayLighter;
    border-left: 0;

    p,
    small {
      text-align: right;
    }

    small {
      &:before {
        content: '';
      }
      &:after {
        content: '\00A0 \2014';
      }
    }
  }
}

// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

::-moz-selection { background: @grayDarker; color: @grayLighter; text-shadow: none; }
::selection { background: @grayDarker; color: @grayLighter; text-shadow: none; }
